<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="{{ url_for('static', filename='script.js')}}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">Dossier City System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="crimes">Crimes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="criminals">Criminals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="probation_officers">Probation Officers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="officers">Officers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="appeals">Appeals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="charges">Charges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="sentences">Sentences</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-auto">
                    <a class="nav-link active" aria-current="page" href="/">Logout</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
         {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger" role="alert">
            Errors:
            {%- for msg in errors %}
                <li>{{ msg }}</li>
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
        <div class="alert alert-success" role="alert">
            {%- for msg in successes %}
                <li>{{ msg }}</li>
            {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        <div class="row justify-content-end">
            <h1 class="col">Criminals</h1>
            <div class="col">
                <a class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addModal">Add Criminal</a>
            </div>
        </div>
        <form class="d-flex" method="get" role="search">
            <div class="input-group mb-3">
                <select class="input-group-text" id="column" name="column">
                    <option value="c_id">C_ID</option>
                    <option value="first">First Name</option>
                    <option value="last">Last Name</option>
                    <option value="alias">Alias</option>
                    <option value="street">Street</option>
                    <option value="city">City</option>
                    <option value="state">State</option>
                    <option value="zip">ZIP</option>
                    <option value="phone">Phone Number</option>
                    <option value="v_status">V</option>
                    <option value="p_status">P</option>
                </select>
                <input type="text" class="form-control" aria-label="Search" placeholder="Search" id="query" name="query" maxlength=100">
                <input type="submit" class="btn btn-outline-success" value="Search">
            </div>
        </form>
        <form method="post">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">C_ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Alias</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">ZIP Code</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">V</th>
                        <th scope="col">P</th>
                    </tr>
                </thead>
                <tbody>
                    {% for criminal in criminals %}
                    <tr>
                        <td><input type="checkbox" id="check{{ criminal['Criminal_ID'] }}" name="check{{ criminal['Criminal_ID'] }}" value=""></td>
                        <th scope="row"><a href="" data-bs-toggle="modal" data-bs-target="#editModal" onclick='javascript: showInfo({{ criminal|tojson|safe }});'>{{ criminal['Criminal_ID'] }}</a></th>
                        <td>{{ criminal['First'] }}</td>
                        <td>{{ criminal['Last'] }}</td>
                        <td>{{ criminal['alias'] }}</td>
                        <td>{{ criminal['Street'] }}</td>
                        <td>{{ criminal['City'] }}</td>
                        <td>{{ criminal['State'] }}</td>
                        <td>{{ criminal['Zip'] }}</td>
                        <td>{{ criminal['Phone'] }}</td>
                        <td>{{ criminal['V_status'] }}</td>
                        <td>{{ criminal['P_status'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" class="btn btn-danger" value="Delete Criminals" onclick="javascript: form.action='/delete-criminals'; form.method='post'">
        </form>
        <!-- add modal -->
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="addModalLabel">Add Criminal</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <button class="btn btn-primary" onclick="if (editing) {
                            endEditFieldsIn('main-group');
                        } else {
                            editFieldsIn('main-group');
                        }" type="button">Edit</button>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="c_id">Criminal ID</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="c_id" id="c_id" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="f_name">First Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="f_name" id="f_name" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="l_name">Last Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="l_name" id="l_name" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="alias">Alias</label>
                            </div>
                            <div class="col-sm-10 input-group">
                                <input type="text" name="alias" id="alias" class="form-control">
                                <input type="text" name="a_id" id="a_id" class="form-control" placeholder="Alias ID">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="street">Street</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="street" id="street" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="city">City</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="city" id="city" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="state">State</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="state" id="state" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="zip">ZIP Code</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="zip" id="zip" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="phone">Phone Number</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="phone" id="phone" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <label class="form-check-label" for="vio_offender">
                                        Violent Offender
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="vio_offender" name="vio_offender" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <label class="form-check-label" for="probation_stat">
                                        On Probation
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="probation_stat" name="probation_stat" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                        </button>
                        <input type="submit" class="btn btn-primary" value="Add Criminal" onclick="javascript: form.action='/add-criminal'; form.method='post'">
                    </div>
                </form>
              </div>
            </div>
          </div>
          <!-- view/edit modal -->
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="min-width: 90%;">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editModalLabel">View Criminal</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="main-group">
                    <div class="modal-body">
                        <button class="btn btn-primary" onclick="if (editing) {
                            endEditFieldsIn('main-group');
                        } else {
                            editFieldsIn('main-group');
                        }" type="button">Edit</button>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="c_id">Criminal ID</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="c_id" id="c_id" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="f_name">First Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="f_name" id="f_name" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="l_name">Last Name</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="l_name" id="l_name" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="alias">Alias</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="alias" id="alias" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="street">Street</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="street" id="street" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="city">City</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="city" id="city" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="state">State</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="state" id="state" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="zip">ZIP Code</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="zip" id="zip" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2 col-form-label">
                                <label for="phone">Phone Number</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" name="phone" id="phone" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <label class="form-check-label" for="vio_offender">
                                        Violent Offender
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="vio_offender" name="vio_offender" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <label class="form-check-label" for="probation_stat">
                                        On Probation
                                    </label>
                                    <input class="form-check-input" type="checkbox" id="probation_stat" name="probation_stat" value="">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#crimesCommitted" aria-expanded="false" aria-controls="crimesCommitted">
                        Crimes Committed
                        </button>
                        <div class="external-record-group">
                            <div class="collapse" id="crimesCommitted">
                                <div class="card card-body">
                                  <iframe id="crimesCommittedEmbed" src="" height="500"></iframe>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#appealsMade" aria-expanded="false" aria-controls="appealsMade">
                            Appeals Made
                            </button>
                            <div class="collapse" id="appealsMade">
                                <div class="card card-body">
                                    <iframe id="appealsMadeEmbed" src="" height="500"></iframe>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sentencesInRecord" aria-expanded="false" aria-controls="sentencesInRecord">
                            Sentences in Record
                            </button>
                            <div class="collapse" id="sentencesInRecord">
                                <div class="card card-body">
                                    <iframe id="sentencesEmbed" src="" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                        </button>
                        <input type="submit" class="btn btn-primary" value="Edit Criminal" onclick="javascript: form.action='/edit-criminal'; form.method='post'">
                    </div>
                </form>
              </div>
            </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            var editForm = document.getElementById("editModal");

            async function showInfo(criminal) {
                editForm.querySelector("#c_id").value = criminal['Criminal_ID'];
                editForm.querySelector("#l_name").value = criminal['Last'];
                editForm.querySelector("#f_name").value = criminal['First'];
                editForm.querySelector("#alias").value = criminal['alias'];
                editForm.querySelector("#street").value = criminal['Street'];
                editForm.querySelector("#city").value = criminal['City'];
                editForm.querySelector("#state").value = criminal['State'];
                editForm.querySelector("#zip").value = criminal['Zip'];
                editForm.querySelector("#phone").value = criminal['Phone'];
                editForm.querySelector("#vio_offender").checked = (criminal['V_status'] === "Y");
                editForm.querySelector("#probation_stat").checked = (criminal['P_status'] === "Y");
                editForm.querySelector("#appealsMadeEmbed").src = "/appeals?embed=true&column=criminal_id&query="+criminal['Criminal_ID'];
                await sleep(10);
                editForm.querySelector("#crimesCommittedEmbed").src = "/crimes?embed=true&column=criminal_id&query="+criminal['Criminal_ID'];
                await sleep(10);
                editForm.querySelector("#sentencesEmbed").src = "/sentences?embed=true&column=criminal_id&query="+criminal['Criminal_ID'];
            }
        </script>
        <script src="{{ url_for('static', filename='script.js')}}"></script>
    </body>
</html>